.header {
    font-family: 'Montserrat-Medium';
}

.desc {
    text-align: center;
}

.bottom-border {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
}

.text-align-center {
    text-align: center;
}

.timeSlotDesc {
    border-top-color: lightgray;
    border-top-style: solid;
    border-top-width: 0.2em;

    font-family: 'Montserrat';
}

.toDoTextArea {
    background-color: lightgray;

    border-right-width: 0.0em;
    border-left-width: 0.0em;
    border-top-width: 0.0em;
    border-bottom-width: 0.0em;

    font-family: 'Montserrat';
    font-size: 0.8em;
}

.saveButton {
    border-style: solid;

    border-left-width: 0.4em;
    border-left-color: teal;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: rgb(0, 182, 182);
}

.saveButton:hover,
.saveButton:focus, 
.saveButton:active,
.saveButton:active:focus,
.saveButton.active:hover {
    background-color: rgb(0, 153, 153) !important;
    border-left-color: teal !important;
}

.currentHour {
    background-color: rgb(255, 111, 133);

    border-style: solid;
    border-left-width: 0.4em;
    border-left-color: rgb(194, 86, 102);
}

.hoursToCome {
    background-color: rgb(119, 207, 119);

    border-style: solid;
    border-left-width: 0.4em;
    border-left-color: rgb(91, 156, 91);
}

@media screen and (max-width: 585px) {
    body {
      font-size: 0.8em;
    }
}

@media screen and (max-width: 520px) {
    .timeSlotDesc {
      font-size: 0.5em;
    }
    h1 {
        font-size: 5.0em;
    }
}